@media screen and (min-width: 1024px){
    .whiteHeader{
        position:fixed;
        width:100%;
        z-index: 9999;
        display: none;
        background-color: #fff;
        color:#000;
    }
    .whiteHeader .gnb{
        width:90%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        font-size: 15px;
    }
    .whiteHeader h1 img{
        margin-top: 10px;
    }
    .whiteHeader .searchMenu{
        width: 284px;
        height: 45px;
        border-radius: 30px;
        border:1px solid #e9e9e9;
        box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%);
        position:relative;
        color:#000;
        font-size:14px;
    }
    .whiteHeader .searchMenu a{
        width: 284px;
        height: 45px;
        border-radius: 30px;
    }
    .whiteHeader .searchMenu span{
        position: absolute;
        top: 50%;
        left: 42px;
        transform: translate(-25%, -50%);
        color:#000;
        font-weight: 500;
    }
    .mob-txt, .mobQuick{
       display: none;
    }
    .whiteHeader button{
        all:unset;
        background-color: #ff385c;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        right: 1px;
        top: 50%;
        transform: translate(-25%, -50%);
    }
    .whiteHeader .hostMenu a{
        text-decoration: none;
        color:#000;
    }
    .blackHeader{
        position:fixed;
        width:100%;
        z-index: 9999;
        background-color: #000;
        color: #fff;
        padding-bottom: 10px;
    }
    .blackHeader .gnb a,
    .blackHeader > a{
        color:#fff;
        text-decoration: none;
    }
    .blackHeader > a{
        display: block;
        text-align: center;
        text-decoration: underline;
        padding: 17px 0;
        font-size: 13.8px;
    }
    .blackHeader button{
        all: unset;
        cursor: pointer;
        /* transform: translate(50%,25%); */
    }
    .blackHeader .gnb{
        width:90%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 15px;
    }
    .blackHeader .gnb h1 img{
        vertical-align: middle;
    }
    .blackHeader .gnb ul{
        display: flex;
        flex-direction: row;
    }
    .blackHeader .gnb li{
        list-style: none;
       
    }
    .blackHeader .gnb li a{
        padding: 10px 16px;
    }
    .blackHeader .gnb li a:hover{
        border-bottom: 2px solid #fff;
    }
    .line-group{
        display: inline-block;
        margin-right: 12px;
    }
    .line{
        width: 14px;
        height: 2px;
        margin-bottom: 2px;
        background-color: #000;
    }
    .line:last-child{
        margin-bottom:0;
    }
    .hostMenu{
        display: inline-block;
        font-size: 14px;
    }
    .hostMenu a{
        border-radius: 25px;
    }
    .hostMenu a:nth-child(1),
    .hostMenu a:nth-child(2) {
        /* border: 1px solid red; */
        padding:10px;
    }
    .hostMenu a:nth-child(2) img{
        position:relative;
        top:6px;
    }
    .white-bt{
        display: inline-block;
        background-color: #fff;
        border-radius: 25px;
        padding: 5px 9px 5px 12px;
        border: 1px solid #e8e8e8;
    }
    .white-bt > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* searchMenu */
    .searchMenu{
        margin: 0 auto;
        width:50%;
        height: 66px;
        background-color: #fff;
        border-radius: 40px;
        display: flex;
    }
    .searchMenu>div{
        display: flex;
        width:100%;
    }
    .searchMenu>div>div{
        border-right:1px solid #e0e0e0;
    
    }
    .searchMenu>div>div:last-child{
        border-right:0;
    }
    
    .blackHeader .searchMenu a{
        color:#252525;
        border-radius:45px;
        height: 100%;
        font-size: 12px;
        font-weight: 800;
        text-decoration: none;
        vertical-align: middle;
    }
    .blackHeader .searchMenu a:hover{
       background-color: #ebebeb;
    }
    .searchMenu p{
        margin-left: 30px;
        margin-top: 18px;
    }
    .searchMenu p span, .searchMenu input{
        margin: 0;
        padding: 0;
        color:#6d6d6d;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        border:0;
        outline: 0;
        background-color: unset;
    }

    .search-sub01,
    .search-sub04{
        width:30%;
    }
    .search-sub02,
    .search-sub03{
        width:20%;
    }
    
    .search-sub01 a,
    .search-sub04 a{
        width:100%;
        display: inline-block;
    }
    .search-sub02 a,
    .search-sub03 a{
        width: 100%;
        display: inline-block;
    }
    .search-sub04{
        position:relative;
    }
    .search-sub04>button{
        background-color: #ff385c;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
    .search-sub04>a{
        display: inline-block;
    }
    /* seachMenu 클릭시 세부 스타일 */
    .seach-sub01-01{
        background-color: #fff;
        width: 200%;
        padding: 35px 10px;
        border-radius: 30px;
        box-sizing: border-box;
        color:#000;
        margin-top: 15px;
    }
    .seach-sub01-01 p{
        font-size: 12px;
        font-weight: 700;
        margin: 0 20px 20px 20px;
    }
    .subButton{
        width:90%;
        border:1px solid rgb(230, 230, 230);
        margin: 0 auto;
        padding:15px;
        border-radius: 30px;
        box-sizing: border-box;
        box-shadow: rgb(0 0 0 / 10%) 0px 6px 13px; 
    }
    .subButton:hover{
        box-shadow: rgb(0 0 0 / 15%) 0px 6px 13px; 
    }
    .subButton span{
        font-size: 18px;
        font-weight: 800;
        margin-left: 10px;
        background: linear-gradient(90deg, rgb(111, 1, 156) 0%, rgb(198, 1, 126) 135.12%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .seach-sub04-01{
        background-color: #fff;
        width: 150%;
        padding: 20px 32px;
        border-radius: 30px;
        box-sizing: border-box;
        color:#000;
        margin-top: 15px;
        float: right;
    }
    .showToggle{
        display: none;
    }
    .subList ul{
        margin:0;
        padding: 0;
    }
    .subList ul li:last-child{
        border: 0;
        font-size: 14px;
        color: rgb(113, 113, 113);
    }
    .subList li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding:15px 0;
        border-bottom: 1px solid rgb(226, 226, 226);
    }
    .subList p{
        margin: 0;
        padding: 0;
    }
    .gray-mini{
        font-size: 14px;
        color:rgb(113, 113, 113);
    }
    .plus-button{
        box-sizing: border-box;
        outline: 1px solid black;
        border-radius: 50%;
        display: inline-block;
        padding: 2px 5px 5px 5px;
        width:25px;
        height: 25px;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
    }
    .minus-button{
        box-sizing: border-box;
        outline: 1px solid black;
        border-radius: 50%;
        display: inline-block;
        padding: 2px 5px 5px 5px;
        width:25px;
        height: 25px;
        text-align: center;
        color:black;
        font-size: 20px;
        cursor: pointer;
    }
    .change-number{
        width: 30px;
        text-align: center;
        font-size: 16px;
    }
    .number-group{
        display: flex;
        align-items: center;
    }

    /* main */
    .main-section{
        background-color:#000 ;
        padding:30px 0 100px 0;
    }
    .main-section>div{
        margin: 0 auto;
        width:90%;
        height: 730px;
        background: url(../images/mainBack.jpg);
        background-size:cover;
        background-position: top;
        text-align: center;
        position: relative;
        border-radius: 20px;
        margin-top: 195px;
    }
    .main-textwrap{
        position:absolute;
        right: 50%;
        transform: translate(50%,25%);
        bottom:100px;
    }
    .main-textwrap p{
        padding: 0;
        margin: 0;
        color: #fff;
        font-size: 47px;
        font-weight: 600;
    }
    .main-textwrap span{
        display: inline-block;
        margin-top: 15px;
        padding:19px 38px;
        border-radius: 50px;
        background-color: #fff;
    }
    .main-section a {
        font-weight: 800;
        background: linear-gradient(90deg, #6F019C 0%, #C6017E 135.12%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }
    /* 아이디어 */
    h2{
        font-size: 42px;
        font-weight: 500;
    }
    .idea-section{
        width:90%;
        margin: auto;
        margin-top: 80px;
    }
    .korea-wrap>div{
        display: flex;
        height: 480px;
    }
    .korea-wrap>div>div{
        margin-right: 27px;
        border-radius: 20px;
        overflow: hidden;
        width:25%;
        display: inline-block;
    }
    .korea-wrap>div>div:last-child{
        margin-right: 0;
    }
    .korea-wrap img{
        width:100%;
        /* height: 50%; */
    }
    .idea-section a{
        display: inline-block;
        text-decoration: none;
        color:#fff;
        width:100%;
        height: 480px;
    }
    .idea-section p{
        font-size: 35px;
        margin:20px 0 0 15px;
    }
    .idea-section span{
        display: inline-block;
        font-size: 20px;
        margin:10px 0 0 15px;
    }
    .jeju{
        background-color: #cc2c4a;
    }
    .gangleong{
        background-color: #d93a30;
    }
    .sockcho{
        background-color: #bc1b6e;
    }
    .yeosu{
        background-color: #de3151;
    }
    /* 둘러보기 */
    .experience-section{
        width:90%;
        margin: auto;
        margin-top: 80px;
    }
    .experience-section div{
        display: flex;
    }
    .experience-section>div>div{
        border-radius: 20px;
        overflow: hidden;
        width:50%;
        height: 900px;
        display: inline-block;
    }
    .experience-section>div>div:first-child{
        margin-right: 27px;
        background: url(../images/experience1.jpg);
        background-size: cover;
        background-position: bottom;
    }
    .experience-section>div>div:last-child{
        background: url(../images/experience2.jpg);
        background-size: cover;
        background-position: bottom;
    }
    
    .experience-section p{
        margin:80px 0 0 80px;
        font-size: 53px;
        font-weight: 600;
        color:#fff;
        text-decoration: none;
    }
    .experience-section button{
        all:unset;
        cursor: pointer;
        margin:20px 0 0 80px;
        padding:15px 25px;
        border-radius: 10px;
        background-color: #fff;
        font-weight: 500;
    }
    /* 호스팅에 관해 */
    .hosting-section{
        width:90%;
        margin: auto;
        margin-top: 80px; 
        background: url(../images/hostingBack.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 20px;
        height:850px;
    }
    .hosting-section p{
        padding:80px 0 0 80px;
        font-size: 95px;
        font-weight: 600;
        color:#fff;
        text-decoration: none;
    }
    .hosting-section button{
        all:unset;
        cursor: pointer;
        margin:180px 0 0 80px;
        padding:15px 25px;
        border-radius: 10px;
        background-color: #fff;
        font-weight: 500;
    }
    /* footer */
    footer{
        background-color: #f7f7f7;
    }
    footer li{
        list-style:none;
    }
    footer li a{
        text-decoration: none;
        color:#7b7b7b;
        font-size: 14px;
    }
    .footer-wrap{
        width:90%;
        margin: auto;
        margin-top: 50px;
    }
    .footer-ul {
        margin-top: 30px;
        display: inline-block;
        width:23%;
        padding:0 12px;
        font-size: 14px;
    }
    .footer-ul li:first-child{
        font-weight: bold;
        font-size: 14px;
    }
    .footer-ul li{
       margin-top: 16px;
    }
    .footer-4ul-wrap{
        display: flex;
        justify-content: space-between;
    }
    .footer-mini{
        display: flex;
        justify-content: space-between;
        padding:10px 0 0 0;
        margin-top:30px;
    }
    .footer-mini ul{
        display: flex;
        padding: 0;
        margin-bottom: 20px;
    }
    .footer-mini ul li{
        color:#7b7b7b;
        display: inline;
    }
    .footer-mini ul:first-child li::before{
        content: '‧';
        color:#7b7b7b;
        padding:0 5px;
    }
    .footer-mini ul:first-child li:first-of-type:before{
        content: '';
    }
    .footer-mini:last-child{
        border-top: 1px solid #e9e9e9;
    }
    .footer-mini ul:last-child li a{
        margin-left: 10px;
        font-weight: 600;
        color:#252525;
        text-decoration: underline;
    }
    .footer-mini ul:last-child li img{
        position:relative;
        top:3px;
        padding:0 5px;
    }
    .txt-icon{
        margin-right: 10px;
    }
    footer a:hover{
        text-decoration: underline;
    }

}